name: CI with Selenium Tests and Test Report

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pytest pytest-html pytest-rerunfailures
        #pip install -r requirements.txt  # install other dependencies

    - name: Setup ffmpeg
      run: |
        sudo apt-get update && sudo apt-get install -y ffmpeg
        ffmpeg -f lavfi -i testsrc=size=640x480:rate=30 -f v4l2 /dev/video0 &
        ffmpeg -f lavfi -i anullsrc -f alsa -ac 2 -channels_layout stereo -sample_fmt s16le -r 44100 default &

    - name: Run Selenium Tests
      env:
        TESTRIGOR_USER001_TOKEN: ${{secrets.TESTRIGOR_USER001_TOKEN}}
        TESTRIGOR_USER002_TOKEN: ${{secrets.TESTRIGOR_USER002_TOKEN}}
        TESTRIGOR_USER003_TOKEN: ${{secrets.TESTRIGOR_USER003_TOKEN}}
        TESTRIGOR_USER004_TOKEN: ${{secrets.TESTRIGOR_USER004_TOKEN}}
        TEST_USER001_TOKEN: ${{secrets.TESTRIGOR_USER001_TOKEN}}
        TEST_USER002_TOKEN: ${{secrets.TESTRIGOR_USER002_TOKEN}}
        TEST_USER003_TOKEN: ${{secrets.TESTRIGOR_USER003_TOKEN}}
        TEST_USER004_TOKEN: ${{secrets.TESTRIGOR_USER004_TOKEN}}
      run: |
        pytest --reruns 5 --html=report.html --self-contained-html test_cases/  #

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: report.html
    
    - name: Upload ScreenShot
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: ./screenshots
    
    - name: Upload Log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: log
        path: ./log

