name: CI with Selenium Tests and Test Report

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pytest pytest-html
        #pip install -r requirements.txt  # 如果有其他依赖，请确保它们被安装

    - name: Install ChromeDriver
      run: |
        CHROME_VERSION=$(google-chrome --version | cut -f 3 -d ' ' | cut -d '.' -f 1) \
            && CHROMEDRIVER_RELEASE=$(curl --location --fail --retry 3 https://googlechromelabs.github.io/chrome-for-testing/LATEST_RELEASE_${CHROME_VERSION}) \
            && curl --silent --show-error --location --fail --retry 3 --output /tmp/chromedriver-linux64.zip "https://storage.googleapis.com/chrome-for-testing-public/$CHROMEDRIVER_RELEASE/linux64/chromedriver-linux64.zip" \
            && cd /tmp \
            && unzip chromedriver-linux64.zip \
            && rm -rf chromedriver-linux64.zip \
            && sudo mv chromedriver /usr/local/bin/chromedriver \
            && sudo chmod +x /usr/local/bin/chromedriver \
            && chromedriver --version

    - name: Run Selenium Tests
      run: |
        pytest --html=report.html --self-contained-html tests/  # 调整为你的测试脚本路径和名称
        #python tests/demo.py

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: report.html  # 确保路径正确指向你的HTML报告文件

