name: Smoke test in CI

on: [push, pull_request]

env:
  TEST_ENV: stg
  TEST_TENANT: test

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pytest pytest-html pytest-rerunfailures
        #pip install -r requirements.txt  # install other dependencies

    - name: Run Testcases
      id: testrun
      env:
        TESTRIGOR_USER001_TOKEN: ${{secrets.TESTRIGOR_USER001_TOKEN}}
        TESTRIGOR_USER002_TOKEN: ${{secrets.TESTRIGOR_USER002_TOKEN}}
        TESTRIGOR_USER003_TOKEN: ${{secrets.TESTRIGOR_USER003_TOKEN}}
        TESTRIGOR_USER004_TOKEN: ${{secrets.TESTRIGOR_USER004_TOKEN}}
        TESTRIGOR_USER005_TOKEN: ${{secrets.TESTRIGOR_USER005_TOKEN}}
        TESTRIGOR_USER006_TOKEN: ${{secrets.TESTRIGOR_USER006_TOKEN}}
        TESTRIGOR_USER007_TOKEN: ${{secrets.TESTRIGOR_USER007_TOKEN}}
        TESTRIGOR_USER008_TOKEN: ${{secrets.TESTRIGOR_USER008_TOKEN}}
        TESTRIGOR_USER009_TOKEN: ${{secrets.TESTRIGOR_USER009_TOKEN}}
        TESTRIGOR_USER010_TOKEN: ${{secrets.TESTRIGOR_USER010_TOKEN}}

        TEST_USER001_TOKEN: ${{secrets.TESTRIGOR_USER001_TOKEN}}
        TEST_USER002_TOKEN: ${{secrets.TESTRIGOR_USER002_TOKEN}}
        TEST_USER003_TOKEN: ${{secrets.TESTRIGOR_USER003_TOKEN}}
        TEST_USER004_TOKEN: ${{secrets.TESTRIGOR_USER004_TOKEN}}
        TEST_USER005_TOKEN: ${{secrets.TESTRIGOR_USER005_TOKEN}}
        TEST_USER006_TOKEN: ${{secrets.TESTRIGOR_USER006_TOKEN}}
        TEST_USER007_TOKEN: ${{secrets.TESTRIGOR_USER007_TOKEN}}
        TEST_USER008_TOKEN: ${{secrets.TESTRIGOR_USER008_TOKEN}}
        TEST_USER009_TOKEN: ${{secrets.TESTRIGOR_USER009_TOKEN}}
        TEST_USER010_TOKEN: ${{secrets.TESTRIGOR_USER010_TOKEN}}
      run: |
        pytest --reruns 3 --html=report.html --self-contained-html test_cases/  #reruns>3 will enter dead loop.
      #timeout-minutes: 6

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: report.html
    
    - name: Upload ScreenShot
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: ./screenshots
    
    - name: Upload Log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: log
        path: ./log
    
    - name: Slack Notification
      if: always()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: "${{ fromJson('{\"false\" : \"success\", \"true\": \"failure\"}')[contains(steps.testrun.outcome, 'failure')] }}"
        SLACK_ICON: https://d2xo500swnpgl1.cloudfront.net/uploads/web/square-logo-1631146631676.png?size=48
        SLACK_TITLE: "Smoke test on ${{env.TEST_ENV}} in CI"
        SLACK_MESSAGE_ON_SUCCESS: ":thumbsup: Smoke test successfully!"
        SLACK_MESSAGE_ON_FAILURE: ":fire: Smoke test failed, please check it at ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        #SLACK_USERNAME: Jun
        SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK_AUTOTEST}}
        MSG_MINIMAL: true
        SLACK_FOOTER: ''
        SLACK_CHANNEL: automated-test-notification
